# Framework Principal
Django==5.2.8
asgiref==3.10.0
sqlparse==0.5.3
tzdata==2025.2

# API e Autenticação (O que você usou no código)
djangorestframework
djangorestframework-simplejwt

# Conexão com Banco de Dados e Segurança (O que configuramos no settings.py)
mysqlclient
django-cors-headers

# Servidor de Produção (Necessário para o Dockerfile)
gunicorn